<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540978297808-rf6bd5fn2p7fescq0l28s0ufokoash4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540978297808-rf6bd5fn2p7fescq0l28s0ufokoash4d</string>
	<key>API_KEY</key>
	<string>AIzaSyCr30b4P5gSUItGfJ4fj7DdjTElBlf1wZw</string>
	<key>GCM_SENDER_ID</key>
	<string>540978297808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ArmanVaziri.CrowdSafe</string>
	<key>PROJECT_ID</key>
	<string>crowdsafe-af13f</string>
	<key>STORAGE_BUCKET</key>
	<string>crowdsafe-af13f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540978297808:ios:31c4b68d85bf4a4586d7d5</string>
	<key>DATABASE_URL</key>
	<string>https://crowdsafe-af13f.firebaseio.com</string>
</dict>
</plist>